<div class="container mt-4">
  <button routerLink="/user/beneficiaries" class="btn btn-primary"> {{'<'}} Retour</button>

      <div class="container mt-4">
        <h2>Ajouter un bénéficiaire</h2>

        <form [formGroup]="beneficiaryForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label class="form-label">Nom du bénéficiaire</label>
            <input type="text" class="form-control" formControlName="accountName" />
          </div>

          <div class="mb-3">
            <label class="form-label">Numéro de compte</label>
            <input type="text" class="form-control" formControlName="accountNumber" />
          </div>

          <button type="submit" class="btn btn-primary">
            Ajouter
          </button>
        </form>
      </div>
</div>