<div class="home-container">
    <div class="center">
        <div class="content">
            <h1 class="title">
                Bienvenue sur le projet 
                <br />
                <span class="animated-text">Bank Account Manager</span>
            </h1>

            <p class="description">
                Cette application développée en <strong>Java Spring Boot</strong> avec <strong>Hibernate</strong> et <strong>JPA</strong>, 
                utilisant une base de données <strong>PostgreSQL</strong> et un front-end en <strong>Angular</strong>, a pour objectif 
                d'appliquer les bonnes pratiques de ces technologies pour créer une solution bancaire complète.
            </p>

            <div class="card">
                <h2>Pour les utilisateurs :</h2>
                <ul>
                    <li>- Créer des utilisateurs</li>
                    <li>- Gérer leurs comptes</li>
                    <li>- Effectuer leurs transactions</li>
                </ul>
            </div>

            <div class="card">
                <h2>Pour les administrateurs :</h2>
                <ul>
                    <li>- Avoir une vue d'ensemble sur les activités</li>
                    <li>- Gérer les activités des clients</li>
                    <li>- Modifier les données utilisateurs</li>
                    <li>- Garder un œil sur les activités suspectes</li>
                </ul>
            </div>

            <div class="social-links">
                <a href="https://github.com/Maxence-Marqui/bank-account-manager" target="_blank" class="social-link">
                    <img src="assets/github-mark/github-mark.png" alt="Github Repository" />
                    <span>Repository GitHub</span>
                </a>

                <a href="https://www.linkedin.com/in/maxence-marqui-602a491b4/" target="_blank" class="social-link">
                    <img src="assets/LinkedIn_logo_initials.png" alt="LinkedIn Profile" />
                    <span>Profil LinkedIn</span>
                </a>
            </div>
        </div>
    </div>
</div>
