<div class="container mt-4">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5>Mes bénéficiaires</h5>
            <a routerLink="/user/beneficiaries/add" routerLinkActive="active" class="btn btn-primary">+ Ajouter un bénéficiaire</a>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom du compte</th>
                        <th>Numéro de compte</th>
                        <th>Date d'ajout</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let beneficiary of beneficiaries">
                        <td>{{ beneficiary.accountName }}</td>
                        <td>{{ beneficiary.accountNumber }}</td>
                        <td>{{ formatDate(beneficiary.addedAt) }}</td>
                        <td>
                            <button class="btn btn-primary me-2" routerLink="/user/beneficiaries/{{beneficiary.id}}/edit" routerLinkActive="active">Modifier</button>
                            <button class="btn btn-danger" (click)="deleteBeneficiary(beneficiary.id)">Supprimer</button>
                          </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>